<template>
  <div class="container">
    <h1>Top products</h1>
    <Modal />
    <div>
      <Carousel />
    </div>
    <h1>Products</h1>
    <div class="row">
      <div class="col-lg-3 col-md-4, col-sm-6 col-12 mt-3" v-for="product in products" :key="product.id">
        <div class="card" style="background-color: #f4f4f4">
          <div>
            <img :src="product.image" class="card-img-top" style="height: 250px; object-fit:contain" alt="...">
          </div>
          <div class="card-body">
            <div>
              <h5>{{ product.title }}</h5>
              <h6 class="text-secondary">{{ product.price }}</h6>
            </div>
            <button type="button" class="btn btn-dark" :disabled="alreadyAdded(product.id)" @click="addToCart(product.id)">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Modal from '@/components/Modal';
import Carousel from '@/components/Carousel';

export default {
  name: 'HomeComponent',
  components:{ Modal, Carousel },
  computed: {
    ...mapGetters({
      products: 'getProducts',
      myProducts: 'getMyProducts',
    })
  }, data() {
    return {
      myProductsData: []
    }
  },
  mounted(){
    this.myProductsData = this.products.filter(product => this.myProducts.includes(product.id))
  },
  watch: {
    myProducts(){
      this.myProductsData = this.products.filter(product => this.myProducts.includes(product.id))
    }
  },
  methods:{
    alreadyAdded(id){
      return this.myProducts.includes(id)
    },
    addToCart(id){
      this.$store.dispatch('addMyProducts', {id: id});
    }
  }
}
</script>