<template>
  <h4>carousel</h4>
  <Carousel :breakpoints="breakpoints" :wrapAround="true" :autoplay="2000" >
    <Slide v-for="slide in topProductsData" :key="slide.id">
      <div class="carousel__item">
        <div class="card" style="height: 300px; background-color: #f4f4f4">
          <img :src="slide.image" class="card-img-top" style="height: 170px; object-fit: contain" alt="...">
          <div class="card-body">
            <div>
              <h5>{{ slide.title }}</h5>
              <h6 class="text-secondary">{{ slide.price }}</h6>
            </div>
            <button type="button" class="btn btn-dark btn-sm" :disabled="alreadyAdded(slide.id)" @click="addToCart(slide.id)">ADD TO CART</button>
          </div>
        </div>
      </div>
    </Slide>

    <template #addons>
      <Navigation />
      <Pagination />
    </template>
  </Carousel>
</template>

<script>
import { mapGetters } from "vuex";
import 'vue3-carousel/dist/carousel.css'
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'

export default {
  name: 'CarouselComponent',
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  computed: {
    ...mapGetters({
      products: 'getProducts',
      myProducts: 'getMyProducts',
    })
  }, data() {
    return {
      topProductsData: [],
      breakpoints: {
        0: {
          itemsToShow: 2, snapAlign: 'center',
        },
        700: {
          itemsToShow: 3, snapAlign: 'center',
        },
        1024: {
          itemsToShow: 5.5, snapAlign: 'start',
        },
      },
      settings: {
        itemsToShow: 1,
        snapAlign: 'center',
      }
    }
  },
  mounted(){
    this.topProductsData = this.products.filter(product => product.price > 4)
  },
  methods:{
    alreadyAdded(id){
      return this.myProducts.includes(id)
    },
    addToCart(id){
      this.$store.dispatch('addMyProducts', {id: id});
    }
  }
}
</script>
<style scoped>
.carousel__slide {
  padding: 5px;
}

.carousel__slide--sliding {
  transition: 1s;
}
</style>