<template>
    <div class="modal fade" id="cardModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mt-3" v-for="product in myProductsData" :key="product.id">
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <div>
                    <h5>{{ product.title }}</h5>
                    <h6 class="text-secondary">{{ product.price }}</h6>
                  </div>
                  <button type="button" class="btn btn-danger" @click="removeFromCart(product.id)">REMOVE</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'ModalComponent',
  computed: {
    ...mapGetters({
      products: 'getProducts',
      myProducts: 'getMyProducts',
    })
  }, data() {
    return {
      myProductsData: []
    }
  },
  mounted(){
    this.myProductsData = this.products.filter(product => this.myProducts.includes(product.id))
  },
  watch: {
    myProducts(){
      this.myProductsData = this.products.filter(product => this.myProducts.includes(product.id))
    }
  },
  methods:{
    removeFromCart(id){
      console.log()
      this.$store.dispatch('removeMyProducts', {id: id});
    }
  }
}
</script>