<template>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container d-flex justify-content-end">
      <a class="btn btn-primary position-relative" data-bs-toggle="modal" href="#cardModal" role="button">
        <i class="bi bi-cart"></i>
        Card
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{myProducts.length}}
          <span class="visually-hidden">unread messages</span>
        </span>

      </a>
    </div>
  </nav>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: 'NavBar',
  computed: {
    ...mapGetters({ myProducts: 'getMyProducts' })
  }
}
</script>